$min-width: 420px;
form{
  background: $white;
  padding: $spacing;
  width: 50%;
  min-width: $min-width;

  label {
    font-weight: 600;
  }

  button {
    padding: $spacing/2 $spacing;
    margin-left: -2px;
    border-radius: $border-radius;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border: none;
    background-color: #D23333;
    color: white;
    font-weight: 600;
  }
  button[disabled]{
    opacity: .6 ;
  }

  .help-block {
    font-size: smaller;
  }

}
